:root {
  color-scheme: light dark;
}

body {
  margin-inline: auto;
  inline-size: min(100% - 2rem, 75ch);
  line-height: 1.5;
  font-family: system-ui, sans-serif;
}

img,
picture,
svg,
video {
  max-inline-size: 100%;
  block-size: auto;
}