.container {
  margin-inline: auto;
  inline-size: min(100% - var(--space-m), 75ch);
}

nav {
  position: sticky;
  block-size: var(--space-xl);
  display: flex;
  align-items: center;
  inset-block-start: 0;
  background-color: var(--bg-primary);
  border-block-end: var(--border-primary);
}

header > .container {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

header img {
  inline-size: 100%;
  block-size: 300px;
  object-fit: cover;
  object-position: center;
}

nav,
header,
main,
footer {
  padding-block: var(--space-s);
}

.articles ul {
  display: grid;
  list-style: none;
  gap: var(--space-s);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 30ch), 1fr));
}

.articles li {
  border: var(--border-primary);
  padding: var(--space-s);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.table-of-contents {
  margin-block-end: var(--space-s);
}

section {
  scroll-margin-block-start: var(--space-xl);
}
