:root {
  color-scheme: light dark;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: system-ui, sans-serif;
}

.container {
  margin-inline: auto;
  inline-size: min(100% - 2rem, 75ch);
}

img,
picture,
svg,
video {
  max-inline-size: 100%;
  block-size: auto;
}

nav,
header,
main,
footer {
  padding-block: 1rem;
}

section:has(> h2) + section:has(> h2) {
  margin-block-start: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
