.container {
  margin-inline: auto;
  inline-size: min(100% - var(--space-m), 75ch);
}

nav {
  position: sticky;
  block-size: var(--space-xl);
  display: flex;
  align-items: center;
  inset-block-start: 0;
  background-color: var(--bg-primary);
  border-block-end: var(--border-primary);
}

nav > .container {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
}

header > .container {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

nav,
header,
main,
footer {
  padding-block: var(--space-s);
}

section {
  scroll-margin-block-start: var(--space-xl);
}

label[for="toggle-sidebar"] {
  display: inline-grid;
  place-content: center;
}

.docs-navigation {
  display: none;
  position: fixed;
  inset-block-start: var(--space-xl);
  padding: var(--space-s);
  padding-inline-start: 0;
  inline-size: 15rem;
  block-size: calc(100vh - var(--space-xl));
  background-color: var(--bg-primary);
  border-inline-end: var(--border-primary);
  overflow-y: auto;
}

.docs-navigation > ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

#toggle-sidebar:checked ~ .docs-navigation {
  display: unset;
}

@media (min-width: 1300px) {
  .docs-navigation {
    display: unset;
    inset-inline-start: calc(50% - 37.5ch - var(--space-m));
    transform: translateX(-100%);
  }

  #toggle-sidebar:checked ~ .docs-navigation {
    display: none;
  }
}

@media (min-width: 1525px) {
  #table-of-contents {
    position: fixed;
    inset-inline-start: calc(50% + 37.5ch + var(--space-m));
    inset-block-start: calc(var(--space-xl) + var(--space-s));
    max-block-size: calc(100vh - (var(--space-xl) + 2 * var(--space-s)));
    overflow-y: auto;
    max-inline-size: 35ch;
    padding: var(--space-s);
    background-color: var(--bg-primary);
    border: var(--border-primary);
  }

  #table-of-contents + section {
    margin-block-start: 0;
  }
}
